<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Towers</title>
<link rel="stylesheet" href="/style/style.css">
<canvas id="cn" width="1000" height="630"></canvas>

<div>
    <label for="">
        Звуки:
        <input type="range" name="" id="sound_1" min="0" max="100" value="100">
    </label>
    <label for="">
        Музыка:
        <input type="range" name="" id="sound_2" min="0" max="100" value="100">
    </label>
</div>

<script src="/js/main.js"></script>